<h1>WebGL Demo</h1>

<h5><a href="javascript:add_demo('cube')">Cube</a> | <a href="javascript:add_demo('chain')">Chain</a> | <a href="javascript:add_demo('ring')">Ring</a> | <a href="javascript:add_demo('sphere')">Sphere</a></h5>

<h6><a href="javascript:clear_div()">Clear</a></h6>

<div id="main">
  <h5>Select a Demo</h5>
</div>


